<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false">
    <filter>
        <whitelist>
            <directory suffix=".php">app</directory>
            <file>app/Http/Controllers/AuthController.php</file>
            <file>app/Http/Middleware/ApiProtectedRoute.php</file>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="test-reports/coverage.xml"/>
        <log type="junit" target="test-results/junit.xml"/>
    </logging>
</phpunit>
